
body {font-family: 'Merriweather', serif;}
h1 {
	font-family: 'Cutive', serif;
	font-size: 100px;
}
body, html {
	height: 100%;
	text-align: center;
	display: inline-block;
}

.question {
	font-size: 24px;
}

.message {
	font-size: 20px;
	font-weight: bold;
}